body {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

footer {
    position: fixed;
    padding: 5px;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
}

#container-question {
    width: 70%;
    height: 190px;
    align-items: center;
    background-color: grey;   
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.question-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question-box {
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 0;
}

.container {
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.backgroundBarLife {
    background-color: rgb(53, 51, 51);
    width: 110px;
    height: 15px;
    border-radius: 20px;
    margin-left: 50px;
}

.lifeStage {
    background-color: rgb(255, 0, 0);
    height: 8px;
    width: 90px;
    border-radius: 20px;
}

#fisherman {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.questionBox {

    flex-direction: column;
    border : red 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 0;

}
#map{

    background-image: url('./assets/Ocean.png');
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg );
    height: 100vw;
    margin: 0;
    padding: 0;

}

main{
    margin: 0;
    padding: 0;
    height: 100vh;
}